body{
    font-family: cursive;
    font-size: larger;
    font-weight: 500;
    background-color: #FFD0D0;
    font-optical-sizing: auto;
    font-style: none;
    user-select: none;
    margin: 0px;
    color: #1a474f;
}
#start-audio {
    position: fixed;
    top: 10%;
    left: 90%;
    padding: 20px;
    font-size: 20px;
    background-color: #1a474f;
    color: white;
    border: none;
    border-radius:50%;
    cursor: pointer;
    z-index: 1000;
}
.navBar a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border:#FFD0D0 solid 2px;
    border-radius: 15px;
}
.navBar a:hover{
    color: #1a474f;
   background-color: #FFD0D0;
}
.navBar{
    width: 100vw;
    height: 8vh;
    color: white;
    background-color: #1a474f;
    display: flex;
    flex-direction: row;
    padding: 8px;
}
.navBar div{
    width: 20vw;
    height: 5vh;
    padding: 25px;
}
.circle{
  height: 765px;
  width: 800px;
  border-radius:50% ;
  background-color: #1a474f;
  padding: 10px;
  text-align: center;
  color: white;
}
.logo{
    position: relative;
    top: 280px;
    left: 380px;
    font-size: 150px;
}
.nextLineOfLogo{
    font-size: large;
    color: #1a474f;
    position: relative;
    bottom: 160px;
    left: 200px;
}
.startingGame{
    background-color: #FF8E8F;
    width: 600px;
    height: 600px;
    position:absolute;
    left: 300px;
    top: 150px;
    border-radius: 300px;
}
.startingGame div{
    width:200px;
    height: 200px;
    border-radius: 100px;
    border: white solid 3px;
}
.red{
    background-color: rgb(255, 0, 0);
    position: relative;
    bottom: -50px;
    right: -80px;
}
.yellow{
    background-color: rgb(255, 255, 0);
    position: relative;
    right: -320px;
    bottom: 150px;
}
.green{
    background-color: rgb(0, 255, 0);
    position: relative;
    bottom: 60px;
    right: -80px;
}
.blue{
    background-color: rgb(0, 0, 255);
    position: relative;
   bottom: 275px;
    right: -325px;
}
.flash{
    background-color: black;
    
}
.userflash{
    background-color: rgb(255, 255, 255);
    
}

.startButton{
    position: relative;
   bottom: 550px;
    right: -250px;
    border: none;
    width: 100px;
    height: 100px;
    font-family: cursive;
    font-size: larger;
    font-weight: 600;
    border-radius: 50px;
}
.startButton:active{
    background-color: black;
    color: white;
}.startButton:hover{
    cursor: pointer;
}
.aboutContent{
    width: 70vw;
    height: 2000px;
    position: absolute;
    left: 300px;
    text-align: center;
}
.aboutHeading{
    color: #1a474f;
    font-size:xx-large;
    background-color: #FF9EAA ;
}
#stickylogo-simon{    
     opacity: 0.9;
     position: fixed;
     top: 200px;
     right: 20px;
     height: 200px;
}
#poppyplaytime{
    height:500px;
    opacity: 0.9;
     position: fixed;
     top: 330px;
     left: -15px;
}
#giphy{
    position: absolute;
    top: 1500px;
    right: 500px;
    opacity: 0.9;
}
.howToPlayContent{
    text-align: center;
    width: 70vw;
    position: absolute;
    left: 250px;
    padding-bottom: 50px;
}
#howtoplayImg1{
    height:200px;
    width:200px;
    position: fixed;
    right: 50px;
    top: 200px;
    opacity: 0.9;
}
#howtoplayImg2{
    height:500px;
    opacity: 0.9;
    position: fixed;
    left: -100px;
    bottom: 0px;
}
.loader{
    background-color: #1a474f;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 200px;
    top:40vh;
    border-radius: 150px;
    border-top: red solid 65px;
    border-bottom: yellow solid 65px;
    border-left: rgb(66, 199, 66) solid 65px;
    border-right: blue solid 65px;
    animation: loader 3s linear 0s infinite normal;
    text-align: center;
    padding: 20px;
    z-index: 2;
}
@keyframes loader  {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.loaderText{
    position: absolute;
    left: 44.5vw;
    top:50vh;
    color: white;
    z-index: 2;
}
.text{
    position: absolute;
    bottom: 200px;
    left: 200px;
}
.gameUpdate{
    background-color:#dfb6e9;
    width: 40vw;
    height: 70vh;
    position: absolute;
    right: 10px;
    bottom: 0px;
    padding: 50px;
    margin: 10px;
    margin-bottom: 10px;
    font-family:monospace;
    color: #1a474f;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-y: scroll;

}
.gameUpdate img{
    height:150px;
    position: fixed;
    bottom: 10px;
    right: 35px;
}
#playSimonImg2{
    height:200px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 100px;
}
#pre{
    font-size: xx-large;
}

.profile{
    width: 70vw;
    height: 70vh;
    background-color: #1a474f;
    position: relative;
    top: 70px;
    left: 270px;
    border-radius: 10px;
    color: #fec3c3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.profile span{
    border-top: #FFD0D0 solid 2px;
    padding: 20px;
    color: white;
    font-weight: 500;
}
.profileContent{
    z-index: 2000;
    width: 60vw;
    
}
.profile img{
    height: 500px;
    position: relative;
    left: 900px; 
    bottom: 505px;
    border-radius: 20px;
    border: white solid 5px;
}
#profileGIF{
    height: 400px;
    opacity: 0.9;
    position: relative;
    bottom: 300px;
}
.contact{
    background-color: transparent;
    position: absolute;
    bottom: 5px;
    left: 750px;

}
.contact i{
    color: #1a474f;
}
.container{
    width: 1500px;
    height: 650px;
    position: absolute;
    left: 100px;
    top: 140px;
    background-color: #deb4e9;
    border: white solid 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.container div{
    width: 300px;
    height:500px ;
    border-radius: 20px;
    background-color: #fec3c3;
    color: #1a474f;
    border: white solid 5px;
    text-align: center;
}
.container div:hover{
    width: 325px;
    height:525px ;
    border: black solid 5px;
    box-shadow: 4px 4px 8px black;
}
.container div img{
    border-radius: 15px;
    width: 300px;
    height: 200px;
}
.container a{
    text-decoration: none;
}
 .tittle{
    padding: 5px;
    background-color: #1a474f;
    color: white;
    border-radius: 10px;
}
#dora{
    height: 250px;
    position: absolute;
    bottom: 20px;
    left: 25px;
}
#honeyboo{
    height: 250px;
    position: absolute;
    bottom: 20px;
    right: 25px;
}
.matrix{
    background-color: #deb4e9;
    width: 650px;
    height: 500px;
    position: absolute;
    top: 20vh;
    left: 18vw;
    border-radius: 20px;
    box-shadow:-4px 4px 8px #1a474f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    font-size: x-large;
    color: white;
}
.matrix div{
    background-color: white;
    color: #1a474f;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    width: 200px;
    height: 150px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #ab6fba;
}
.matrix div:hover{
   box-shadow:4px 4px 6px #1a474f;
}
.matrix div:active{
    width: 220px;
    height: 160px;
}
.selectPlayer{
    height: 50px;
    width: 250px;
    border:none;
    font-size: large;
    font-weight:600;
    color: #1a474f;
}
.selectPlayer:hover{
    cursor: pointer;
    background-color: #1a474f;
    color: white;
}
#btn1{
    position: relative;
    top: 200px;
   right: -1400px;
}
#btn2{
    position: relative;
    top: 200px;
   right: -800px;
}
.marking{
    background-color: #FF9EAA;;
    height: 450px;
    width: 450px;
    position: absolute;
    right: 200px;
    bottom :10px;
    border-radius: 10px;
    color: #1a474f;
    padding: 10px;
    font-family: monospace;
    font-size: larger;
}
#startButton{
    position: absolute;
    top: 150px;
   right: 350px;
}
.tictactoe{
    position: absolute;
    bottom: 15px;
    right: 300px; 
    padding: 10px; 
    border: #19454d solid 5px;  
    border-radius:15px ;   
    background-color: #deb4e9; 
    color: #19454d;
    z-index: 2;
}
#tttimg1{
    background-color: transparent;
    height: 200px;
    position: absolute;
    right: 140px;
    bottom: 10px;
}
#tttimg2{
    background-color: transparent;
    height: 200px;
    position: absolute;
    left: 140px;
    bottom: 10px;
}
.moves{
    background-color: #FF9EAA;
    height: 400px;
    width: 900px;
    border: rgb(62, 36, 76) solid 6px;
    border-radius: 50px;
    padding: 80px;
    position: absolute;
    top: 150px;
    left: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.moves span{
    font-size: large;
    font-weight: 600; 
}
.selectMoves{
height: 100px;
position: relative;
top: 290px;
right: 260px;
}
.selectMoves img{
    border: none;
    border-radius: 80%;
    height: 100px;
    width:100px;
}
.selectMoves img:hover{
    cursor: pointer;
    width: 105px;
    height: 105px;
    box-shadow: 4px 4px 6px #1a474f;
}
.selectMoves img:active{
    cursor: pointer;
}
.scores{
    background-color: #dc8def;
    color: white;
    height: 175px;
    width: 400px; 
    padding: 10px;
    border: white solid 7px;
    border-radius: 10px;
    position: absolute;
    top: 630px;
    left: 630px;
    font-size: large;
    font-weight: 600;
}

.scores p{
    font-size:large;
    font-weight: 600;
}
.winnersps{
    height: 100px;
    width: 400px;
    position: absolute;
    top: 100px;
    left: 650px;
    z-index: 2;
    font-size: 70px;
    color: white;
    font-weight: 600;
    border:white solid 7px ;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color:#dc8def;
    opacity: 0;
}
.yourMove{
    height: 250px;
    width: 300px;
    text-align: center;
    
}
.yourMove img{
    height: 250px;
    width: 250px;
}
.myMove{
    height: 250px;
    width: 250px;
    position: relative;
    left: 350px;
    text-align: center;
}
.myMove img{
    height: 250px;
    width: 250px;
}
#SASimg1{
    height:150px;
    position: absolute;
    left: 300px;
    top: 100px;
}
#SASimg2{
    height:250px;
    position: absolute;
    bottom: 10px;
    left: 150px;
}
#SASimg3{
    height:150px;
    position: absolute;
    bottom: 10px;
    right: 600px;
}
#SASimg4{
    height:250px;
    width:300px;
    border-radius:70%;
    position: absolute;
    bottom: 10px;
    right: 150px;
    border: #FF9EAA solid 6px;
}

@keyframes shake1 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(50deg);
    }
    50% {
        transform: rotate(-50deg);
    }
    75% {
        transform: rotate(50deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes shake2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-50deg);
    }
    50% {
        transform: rotate(50deg);
    }
    75% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@media only screen and (min-width: 550px) and (max-width: 1024px){
  body {
    font-size: small;
  }

  .navBar {
    flex-direction: column;
    height: 35vh;
    padding: 0;
    text-align: left;
  }

  .navBar div {
    width: 500px;
    padding: 10px;
  }

  .circle{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 45vh;
  } 
  .loader{
    width: 50px;
    height: 50px;
    padding: 25px;
    border-width: 20px;
    position: absolute;
    top:250px;
    left: 350px;
  }

  .logo {
    font-size: 70px;
    position: absolute;
    top:100px;
    left: 70px;
  }


  .nextLineOfLogo {
    font-size: small;
    left: 100px;
    bottom: 80px;
  }

  .startButton {

    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
  }
.startingGame{
    background-color: #FF8E8F;
    width: 250px;
    height: 250px;
    position:absolute;
    left: 100px;
    top: 300px;
    border-radius: 125px;
}
.startingGame div{
    width:60px;
    height: 60px;
    border-radius: 30px;
    border: white solid 1px;
}
.red{
    position: relative;
    bottom: -25px;
    right: -35px;
}
.yellow{
    position: relative;
    right: -150px;
    bottom: 40px;
}
.green{
    position: relative;
    bottom: -40px;
    right: -40px;
}
.blue{
    position: relative;
    bottom: 20px;
    right: -150px;
}
#playSimonImg1{
    height: 100px;
}
#playSimonImg2{
height: 100px;
}
  .profile {
    width: 80vw;
    left: 5vw;
    height: auto;
    padding: 20px;
  }

  .profile img {
    display: none;
  }

  .aboutContent, .howToPlayContent {
    width: 90vw;
    left: 5vw;
    height: auto;
  }

  .matrix {
    width: 50vw;
    height: 35vh;
    position: absolute;
    left: 5vw;
    top: 300px;
    font-size: medium;
  }

  .matrix div {
    width: 90px;
    height: 70px;
    font-size: 40px;
  }
  .matrix div:active{
    width: 95px;
    height: 75px;
  }
  #startButton{
     font-size: 10px;
      width: 70px;
      height:70px;
      position: relative;
      top: 100px;
      left:500px;
  }
  #tttimg1{
    height: 100px;
    position:absolute;
    right: 0px;
  }
  #tttimg2{
    height: 100px;
    position:absolute;
    left: 0px;
  }
  .selectPlayer{
    position: absolute;
    right: 0px;
    width: 90px;
    font-size:8px ;
    padding: 0px;
  }
  #btn1,#btn2{
    position: relative;
    top:150px;
   right: -400px;
   padding: 0px;
}
  .moves {
    flex-direction: column;
    width:80vw;
    height: 25vh;
    position: absolute;
    top: 280px;
    left: 2.5vw;
    padding: 20px;
  }
 
  .scores{
    width: 87vw;
    height: 20vh;
    font-size: 10px;
    left: 5vw;
    position: absolute;
    top: 580px;
  }


  .winnersps {
    width: 100px;
    height: 25px;
    font-size: 10px;
    position: absolute;
    top: 250px;
    left: 180px;
  }

  .selectMoves {
    width: 400px;
    height: 70px;
    position: absolute;
    top: 200px;
    left: 80px;
  }
  .selectMoves div{
 height: 70px;
  }
  .selectMoves img{
    height: 70px;
  }
  .yourMove{
    height: 200px;
    width: 100px;
    position: relative;
    left: 50px;
}

.myMove{
    height: 140px;
    width: 100px;
    position: relative;
    left: 250px;
    bottom: 120px;
    text-align: center;
}
.myMove img{
    height: 250px;
    width: 250px;
}
 #SASimg1,#SASimg3,#SASimg4{
   height: 100px;
 }
 #SASimg2 {
    position: absolute;
    top:480px;
    left: 10px;
    border-radius:50%;
 }
 .moves img{
  width: 100px;
  height: 100px;
 }
  #start-audio {
    left: auto;
    right: 10px;
    top: 10px;
    padding: 10px;
    font-size: 16px;
  }

  .gameUpdate, .marking {
    width: 50vw;
    font-size: 10px;
    position: absolute;
    left: 250px;
    height: 23vh;
    padding: 2px;
  }.gameUpdate img{
    height: 40px;
  }
  .gameUpdate #pre{
    font-size: 10px;
  }

  .contact {
    position: static;
    margin: 10px auto;
    text-align: center;
  }

  .container {
    flex-direction: column;
    width: 90vw;
    height: auto;
    left: 5vw;
    top: auto;
  }

  .container div {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  .container div:hover {
    width: 95%;
    height: auto;
  }
  #dora,#honeyboo{
    height: 100px
  }
  #profileGIF{
    height: 100px;
    position:absolute;
    bottom:-50px;
  }
}

